#Python cache
__pycache__

#Unsloth data
unsloth_compiled_cache/

#Dataset and model data
data/
model/
runs/

#Model profiling and debugging
imitator_report/
*.qdstrn
*.nsys-rep
profile.sh
train.sh

nk_*
